.bannerWrapper {
    margin: auto;
    height: auto;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 25px;
    max-width: 1240px;
    width: 100%;
}
.bannerImg {
    width: inherit;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
}
.bannerTitle {
    width: inherit;
    height: 223px;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    line-height: 68.75px;
    color: rgb(255, 255, 255);
    z-index: 100;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    pointer-events: none;
}
@media (max-width : 720px){
    .bannerTitle{
        font-size: 24px;
        text-align: left;
        height: 48px;
        line-height: normal;
        top: 50%;
        left: 55%;
    }
    .bannerWrapper,.bannerImg{
        height: 111px;
    }
}
@media (max-width: 1250px) {
    .bannerWrapper{
        width: 95%;
    }
}
@media (max-width : 1000px) {
    .bannerWrapper{
        width: 93%;
        background-color: white;
        padding-top: 0;
        margin-top: 0;
    }
}