.carousel-container,.carousel-picture{
    width: 1240px;
    height: 415px;
    margin: auto;
    border-radius: 25px;
    object-fit: none;
}
.carousel-container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.carousel-counter{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    left: 50%;
    position: absolute;
    bottom: 25px;
}
.left-arrow{
    transform: scaleX(-1);
    left: 2%;
}
.right-arrow{
    right : 2% ;
}
.right-arrow,.left-arrow{
    width: 46px;
    height: 80px;
    top:40%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
