.Content {
    width: 1240px;
    margin: auto;
}
.fiche-logement-name {
    color: #ff6060;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 36px;
    max-width: 635px;
    margin-top: 30px;
    font-weight: 500;
}
.fiche-logement-location {
    color: #ff6060;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    margin-top: 15px;
}
.fiche-logement-tagContainer {
    display: inline-flex;
    flex-direction: row;
    margin-top: 20px;
}
.fiche-logement-tagContainer > * {
    width: 115px;
    height: 25px;
    background-color: #ff6060;
    color: white;
    margin-right: 10px;
    padding: 0;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fiche-logement-equipementList {
    list-style: none;
}
.fiche-logement-collaspeWrapper .collapsible {
    width: 582px;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
}
.fiche-logement-collaspeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: max-content;
}
.fiche-logement-collaspeWrapper > * {
    max-width: 582px;
    height: max-content;
}

.fiche-logement-collaspeWrapper .collapse-button {
    max-width: 582px;
    height: 52px;
    font-size: 18px;
    line-height: 26px;
}
.fiche-logement-collaspeWrapper .collapse-content {
    max-width: 552px;
    font-size: 18px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
ul,
li {
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

.infos-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}

.fiche-logement-hostWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
}
.fiche-logement-hostName {
    font-size: 18px;
    color: #ff6060;
    line-height: 26px;
    margin-right: 10px;
}
.fiche-logement-hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

/* Content Responsive */
@media (min-width: 330px) and (max-width: 1240px) {
    .Content{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .fiche-logement-collaspeWrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
    .fiche-logement-collaspeWrapper .collapsible {
        width: 85%;
    }
}
@media (max-width: 720px) {
    .fiche-logement-name {
        font-size: 18px;
        width: 335px;
        height: 46px;
    }
    .fiche-logement-location {
        font-size: 14px;
    }
    .fiche-logement-tagContainer > * {
        border-radius: 5px;
        width: 84px;
        height: 18px;
        font-size: 10px;
        overflow: hidden;
    }
}
