footer {
    margin-top: 100px;
    height: 210px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.footer-title {
    color: white;
}
.footer-logo {
    display: block;
    text-indent: -9999px;
    width: 122px;
    height: 44px;
    background: url(../pictures/logoWhite.svg) no-repeat;
    background-size: 122 44px;
    margin-bottom: 30px;
}
