.gallery{
    max-width: 1240px;
    width: 100%;
    padding-top: 25px;
    background-color: #F6F6F6;
    margin: auto;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
}
@media (max-width: 1250px) {
    .gallery{
        width: 95%;
    }
}
@media (max-width : 1000px) {
    .gallery{
        width: 93%;
        background-color: white;
        padding-top: 0;
        margin-top: 0;
    }
}