.gallery{
    width: 1240px;
    padding-top: 25px;
    background-color: #F6F6F6;
    margin: auto;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}