.gallery{
    max-width: 1240px;
    width: 100%;
    padding-top: 25px;
    background-color: #F6F6F6;
    margin: auto;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
}